@page
@model MeshApp.Pages.Nodes.CommandModel

@{
    ViewData["Title"] = "Command";
}

<h1>Command</h1>

<form asp-page-handler="command" method="post">
    <select asp-for="TargetNodeId" asp-items="Model.NodeIds">
        <option value="">Pick one</option>
    </select> <b>Target node id</b>
    <select asp-for="TargetType" asp-items="Model.Types">
        <option value="">Pick one</option>
    </select> <b>Value type</b>
    <input type="number" step="0.01" name="targetValue"> <b>Value</b>
    <input type="checkbox" name="targetInManualMode"> <b>Manual mode</b>
    <input type="submit">
</form>

